* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.bigcontainer {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.middlecontainer {
  width: 20%;
  height: 30vh;
}

.headertext {
  text-decoration: none;
  color: black;
}

.h1reservering {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.buttonmid {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

button {
  font-size: 25px;
  background-color: green;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.headerbackend {
  background-color: black;
  height: 10vh;
}

.echovar {
  color: white;
}

table {
  width:100%;
  width:100%;
}

.signupouter {
  display: flex;
  justify-content: center;
}

.signuptext {
  font-size: 24px;
  color: black;
  text-decoration: none;
  text-shadow: 2px 2px white;
}

.signuptext2 {
  font-size: 18px;
  color: red;
  text-decoration: none;
  text-shadow: 0px 0px transparent;
  margin-left: 1rem;
  padding: 0.5rem 1.5rem;
  border: 1px solid #000;
  background-color: #e1f7b9;
  color: #000;
  font-weight: 700;
  text-decoration: none;
  box-shadow: 5px 8px;
}
